<!DOCTYPE html>
<html lang='en'>
<!--------------------------------------------------------------------------------------------------------------------
  /$$$$$$  /$$                           /$$      /$$                      /$$$$$$   /$$$$$$          /$$ /$$
 /$$__  $$| $$                          | $$  /$ | $$                     /$$__  $$ /$$__  $$        | $$|__/
| $$  \ $$| $$  /$$$$$$  /$$   /$$      | $$ /$$$| $$  /$$$$$$   /$$$$$$ | $$  \__/| $$  \__//$$$$$$ | $$ /$$
| $$$$$$$$| $$ /$$__  $$|  $$ /$$/      | $$/$$ $$ $$ /$$__  $$ /$$__  $$| $$$$    | $$$$   /$$__  $$| $$| $$
| $$__  $$| $$| $$$$$$$$ \  $$$$/       | $$$$_  $$$$| $$$$$$$$| $$  \__/| $$_/    | $$_/  | $$$$$$$$| $$| $$
| $$  | $$| $$| $$_____/  >$$  $$       | $$$/ \  $$$| $$_____/| $$      | $$      | $$    | $$_____/| $$| $$
| $$  | $$| $$|  $$$$$$$ /$$/\  $$      | $$/   \  $$|  $$$$$$$| $$      | $$      | $$    |  $$$$$$$| $$| $$
|__/  |__/|__/ \_______/|__/  \__/      |__/     \__/ \_______/|__/      |__/      |__/     \_______/|__/|__/

If you want to see how this Application was build check out my public repository on GitHub:
https://github.com/awerffeli/cvgen
--------------------------------------------------------------------------------------------------------------------->
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('apple-touch-icon-144x144.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset('apple-touch-icon-152x152.png') }}" />
        <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16" />
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="{{ asset('mstile-144x144.png') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
                    integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
            <script src="/js/app.js"></script>
        {% endblock %}
    </body>
</html>
