{% extends 'base.html.twig' %}
{% set document = candidacy.document %}

{% block title %}{{ candidacy.firstName }} {{ candidacy.lastName }}{% endblock %}

{% block description %}{{ document.subTitle }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <link href="/css/main.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <header>
        <h1 class="header-blue">{{ document.title }}</h1>
        <h2>{{ document.subTitle }}</h2>
    </header>

    <section id="about">
        <img class="portrait" src="{{ document.imageUrl }}" alt="{{ candidacy.firstName }} {{ candidacy.lastName }}">

        {{ document.intro|striptags('<a>')|raw|nl2br }}
    </section>

    <section id="skillset">
        <h2>Skillset</h2>

        {% for skill in candidacy.skills %}
            <h3>{{ skill.name }}</h3>
            <div class="skill-level-bar skill-level-{{ (skill.percentage / 10) | round }}"></div>
        {% endfor %}
    </section>

    <section id="contact">

        {{ document.outro|striptags('<h2><p><a>') | raw | nl2br }}

        <div class="contact-links">
            {% if  candidacy.email %}
            <a href="mailto:{{ candidacy.email }}">
                <i class="fa fa-envelope-square fa-3x"></i>
            </a>
            {% endif %}
            {% if  candidacy.github %}
            <a href="https://github.com/{{ candidacy.github }}" target="_blank">
                <i class="fa fa-github fa-3x"></i>
            </a>
            {% endif %}
            {% if  candidacy.skype %}
            <a href="skype:{{ candidacy.skype }}?call">
                <i class="fa fa-skype fa-3x"></i>
            </a>
            {% endif %}
        </div>

    </section>
    {% if  document.footnote %}
        <footer>
            <p>
                <sup>*</sup> {{ document.footnote|striptags('<a>')|raw }}
            </p>
        </footer>
    {% endif %}
{% endblock %}
